
body{
    margin: 0px;
    padding: 0px;
    background-color: #3f84f2
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
margin: 0px 90px;

}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
   margin: 0px 30px;
   text-transform: capitalize;
transition: 1s;
}
.navbar a:hover{
    transform: scale();
    color: black;
}
.lkol{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.container{
  
    margin-top: 150px;
}
.container h1{
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    margin-left: 60px;
}
.lorem{
    margin-left: 60px;
    color: white;
}
button{
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    border: none;
    text-transform: uppercase;
}
.pepsi{
  margin-top: 180px;
}
.social-media{
    
 margin-top :250px; 
 margin-left: 20px;
 
}
.social-media a{
    color: white;
 font-size: 50px;
 display: block;
 margin-top: 10px;
   transition: 1s

}
.social-media a:hover{
transform: scale();
color: black;
}
footer{
    margin-top: 130px;
    text-align: center;
}
.les-logos{
    
    display: flex;
    flex-direction: row;
   width: 25%;

}
.pepsi img{
   animation: sliderX 3s;  
}
@keyframes sliderX {
    from {
     transform: translateX(100%);
     opacity: 0;
    }

    to {
      transform: translateX(0%);
      opacity: 1;
    }
}

footer img {
    animation: sliderY 3s;
}

@keyframes sliderY {
    from {
    transform: translateY(100%);
    opacity: 0;
    }

    to {
   transform: translateY(0%);
   opacity: 1;
    }
}